<div class="ui-g">
  <div class="col-md-2">
    <h3 style="font-size: 20px">ES Shopping Boot</h3>
  </div>
  <div class="col-md-10">
    <app-menu (buscaEvent)="onBuscaRealizada($event)"></app-menu>
  </div>
  <div class="col-md-2">
    <app-menu-lat [itens]="categorias" [filtro]="filtro" (filtroExcluidoEvent)="onFiltroExcluido()"></app-menu-lat>
  </div>
  <div class="col-md-10">
    <div *ngIf="exibirItens">
      <app-itens [itens]="itens" [rows]="rows" [total]="total" (carregarItensEvent)="onCarregarItens($event)" *ngIf="total"></app-itens>
      <div *ngIf="!total">
        Nenhum resultado encontrado.
      </div>
      <div *ngIf="!total && sugestoes.length">
        Voc&ecirc; n&atilde;o quis dizer:
        <ul id="voceQuisDizer">
          <li *ngFor="let termo of sugestoes"><strong>{{termo}}</strong></li>
        </ul>
        ?
      </div>
    </div>
    <router-outlet *ngIf="!exibirItens"></router-outlet>
  </div>
</div>
